@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-106-a1240b508074.woff2') format('woff2-variations');
  unicode-range: U+6296, U+903E;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-107-9ca5acaba626.woff2') format('woff2-variations');
  unicode-range: U+5339, U+64A4, U+7B5B;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-108-9c9e6fa0fee5.woff2') format('woff2-variations');
  unicode-range: U+6E20;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-110-a81315eed7f7.woff2') format('woff2-variations');
  unicode-range: U+62D6, U+8D8B;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-111-66c2327ed7f0.woff2') format('woff2-variations');
  unicode-range: U+59D3, U+5F03, U+6062, U+66FF, U+9636;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-112-46ea8452f41c.woff2') format('woff2-variations');
  unicode-range: U+547C, U+675F, U+8D25;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-113-2b403c8f3048.woff2') format('woff2-variations');
  unicode-range: U+6682, U+6863, U+6982, U+6DD8, U+6DFB, U+7A0E, U+7A3F, U+8BEF, U+8DF3;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-114-7ef3aa7674c9.woff2') format('woff2-variations');
  unicode-range:
    U+4E03, U+4E34, U+4E5D, U+4ED8, U+505C, U+5426, U+542B, U+542F, U+5F52, U+64CD, U+68C0, U+6C47,
    U+7968, U+7B14, U+7EE7, U+8D1F, U+8DDF, U+8F93, U+9000, U+94F6, U+989D;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-115-20638b133662.woff2') format('woff2-variations');
  unicode-range:
    U+516B, U+516D, U+5178, U+5207, U+5212, U+52BF, U+552E, U+589E, U+5931, U+5C5E, U+5F85, U+677F,
    U+6821, U+6BB5, U+6F14, U+72B6, U+79BB, U+79FB, U+7EED, U+89D2, U+8BA2, U+8BBF, U+8BE6, U+8C61,
    U+8D26, U+8D27, U+8F91, U+8FD4, U+9519, U+95ED, U+9690, U+9884, U+FF1B;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-116-23201380a608.woff2') format('woff2-variations');
  unicode-range:
    U+4E94, U+4ECA, U+4F01, U+4FEE, U+503C, U+518D, U+5217, U+529E, U+529F, U+5341, U+53D8, U+5411,
    U+56E0, U+5740, U+5904, U+59CB, U+5B58, U+5B9D, U+5BC6, U+5E93, U+62E9, U+6362, U+636E, U+6539,
    U+6548, U+663E, U+672A, U+6A21, U+6B3E, U+6BCF, U+7559, U+786E, U+79F0, U+7B7E, U+7EC6, U+7EF4,
    U+81F3, U+81F4, U+822A, U+8425, U+89C8, U+8BD5, U+8D23, U+8FD1, U+914D, U+94FE, U+9500, U+9664,
    U+9700, U+97F3, U+9879, U+9A8C;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-117-2fae397f41cf.woff2') format('woff2-variations');
  unicode-range:
    U+201C, U+201D, U+4E24, U+4E8C, U+4EA4, U+4EF6, U+4EF7, U+4F20, U+4FDD, U+5143, U+5171, U+521B,
    U+5305, U+5355, U+539F, U+53D6, U+53F0, U+5458, U+5546, U+56DB, U+578B, U+590D, U+5B57, U+5B8C,
    U+5B98, U+5BB9, U+5BFC, U+5C06, U+5C11, U+5DF2, U+5E38, U+5E76, U+5EFA, U+6001, U+603B, U+6216,
    U+6301, U+641C, U+652F, U+653E, U+6599, U+661F, U+671F, U+6761, U+67E5, U+6807, U+683C, U+6B64,
    U+6C42, U+6D41, U+6D88, U+6E05, U+6E90, U+7801, U+793A, U+7A7A, U+7BA1, U+7D22, U+7ED3, U+7F16,
    U+7F6E, U+8001, U+8272, U+88C5, U+89C4, U+8BA1, U+8BA4, U+8BB0, U+8D39, U+8D77, U+8D85, U+8F6C,
    U+8F7D, U+8FD0, U+9009, U+91CD, U+91CF, U+9891, U+FF1F;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-118-eb3d9f64c50a.woff2') format('woff2-variations');
  unicode-range:
    U+4E09, U+4E0A, U+4E0B, U+4E0D, U+4E0E, U+4E1A, U+4E2A, U+4E3B, U+4EA7, U+4EBA, U+4F4D, U+4F5C,
    U+4FE1, U+5165, U+5168, U+516C, U+5173, U+5185, U+51FA, U+5206, U+5230, U+5236, U+524D, U+52A0,
    U+52A1, U+52A8, U+53D1, U+53EF, U+53F7, U+53F8, U+540D, U+540E, U+54C1, U+56DE, U+56FE, U+5728,
    U+5730, U+5907, U+5916, U+591A, U+5927, U+5BA2, U+5BF9, U+5C0F, U+5DE5, U+5E73, U+5E74, U+5F00,
    U+5F0F, U+5F53, U+5F55, U+5FAE, U+606F, U+60C5, U+610F, U+6210, U+6211, U+6237, U+6240, U+624B,
    U+62A5, U+63A5, U+63D0, U+6536, U+6570, U+6587, U+65B9, U+65E0, U+65F6, U+660E, U+662F, U+66F4,
    U+6700, U+672C, U+6743, U+6765, U+679C, U+6B21, U+6B63, U+6CD5, U+6CE8, U+7247, U+7248, U+7269,
    U+73B0, U+7406, U+7528, U+7535, U+767B, U+770B, U+7B49, U+7C7B, U+7CFB, U+7ECF, U+8005, U+8054,
    U+80FD, U+85CF, U+884C, U+8868, U+8981, U+89C6, U+8BDD, U+8BF4, U+8BF7, U+8D44, U+8FC7, U+8FDB,
    U+901A, U+9053, U+90E8, U+91D1, U+95EE, U+95F4, U+9762, U+9875, U+FF08, U+FF09;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-119-6f26eacc2b08.woff2') format('woff2-variations');
  unicode-range:
    U+2014, U+3001, U+4E00, U+4E2D, U+65B0, U+65E5, U+6708, U+6709, U+7684, U+7F51, U+FF0C, U+FF1A;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-86-1a59b082116a.woff2') format('woff2-variations');
  unicode-range: U+3007;
}
@font-face {
  font-family: 'Noto Sans SC UI';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/ui/noto-sans-sc-ui-latin-542acf1bc07b.woff2') format('woff2-variations');
  unicode-range: U+2014, U+201C, U+201D;
}
