@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-common-d72aea4671aa.woff2') format('woff2');
  unicode-range:
    U+2002-2003, U+2010-2016, U+2018-201A, U+201C-201E, U+2020-2022, U+2025-2027, U+2030,
    U+2032-2033, U+2035, U+2039-203C, U+2042, U+2047-2049, U+2051, U+3000-303F, U+4E00, U+4E03,
    U+4E09-4E0B, U+4E0D-4E0E, U+4E1A, U+4E24, U+4E2A, U+4E2D, U+4E34, U+4E3A-4E3B, U+4E5D, U+4E8C,
    U+4E8E, U+4E94, U+4EA4, U+4EA7, U+4EBA, U+4ECA, U+4ED6, U+4ED8, U+4EE4, U+4EF6-4EF7, U+4EFB,
    U+4F01, U+4F20, U+4F4D, U+4F5C, U+4FDD, U+4FE1, U+4FEE, U+503C, U+505C, U+5141, U+5143, U+5148,
    U+5165, U+5168, U+516B-516D, U+5171, U+5173, U+5176, U+5178, U+5185, U+518D, U+5199, U+51FA,
    U+5206-5207, U+5212, U+5217, U+521B, U+5230, U+5236-5237, U+524D, U+529E-52A1, U+52A8, U+52BF,
    U+5305, U+5339, U+5341, U+5355, U+538B, U+539F, U+53D1, U+53D6, U+53D8, U+53EA, U+53EF-53F0,
    U+53F7-53F8, U+540C-540E, U+5411, U+5426, U+542B, U+542F, U+5458, U+547C-547D, U+548C, U+54C1,
    U+552E, U+5546, U+56DB, U+56DE, U+56E0, U+56F4, U+56FE, U+5728, U+5730, U+5740, U+574F, U+578B,
    U+586B, U+589E, U+5904, U+5907, U+590D, U+5916, U+591A, U+5927, U+5931, U+59CB, U+59D3,
    U+5B57-5B58, U+5B8C, U+5B98, U+5B9A, U+5B9D, U+5BA2, U+5BB6, U+5BB9, U+5BC6, U+5BF9, U+5BFC,
    U+5C06, U+5C0F, U+5C11, U+5C1A, U+5C1D, U+5C5E, U+5DE5, U+5DF2, U+5E38, U+5E73-5E74, U+5E76,
    U+5E93, U+5EA6, U+5EFA, U+5F00, U+5F03, U+5F0F, U+5F52-5F53, U+5F55, U+5F85, U+5FAE, U+5FC5,
    U+6001, U+603B, U+6062, U+606F, U+60C5, U+610F, U+6210-6211, U+6216, U+6237, U+6240, U+624B,
    U+6279, U+6296, U+62A4-62A5, U+62D6, U+62E9, U+6301, U+6307, U+635F, U+6362, U+636E, U+63A5,
    U+63D0, U+641C, U+64A4, U+64CD, U+652F, U+6536, U+6539, U+653E, U+6548, U+6570, U+6574, U+6587,
    U+6599, U+65AD, U+65B0, U+65B9, U+65E0, U+65E5, U+65F6, U+660E, U+661F, U+662F, U+663E, U+665A,
    U+6682, U+66F4, U+66FF-6700, U+6708-6709, U+670D, U+671F, U+672A, U+672C, U+6743, U+675F,
    U+6761, U+6765, U+677F, U+679C, U+67E5, U+6807, U+6821, U+6838, U+683C, U+6863, U+68C0, U+6982,
    U+6A21, U+6B21, U+6B3E, U+6B63-6B64, U+6BB5, U+6BCD, U+6BCF, U+6C42, U+6C47, U+6CA1, U+6CD5,
    U+6CE8, U+6D41, U+6D88, U+6DD8, U+6DFB, U+6E05, U+6E20, U+6E90, U+6F14, U+7247-7248, U+7269,
    U+72B6, U+73B0, U+7406, U+751F, U+7528, U+7531, U+7535, U+7559, U+767B, U+7684, U+76F8, U+770B,
    U+7801, U+786E, U+793A, U+7968, U+79BB, U+79F0, U+79FB, U+7A0D-7A0E, U+7A3F, U+7A7A, U+7B14,
    U+7B49, U+7B5B, U+7B7E, U+7BA1, U+7C7B, U+7CFB, U+7D22, U+7EC4, U+7EC6, U+7ECF, U+7ED3, U+7EE7,
    U+7EED, U+7EF4, U+7F16, U+7F29, U+7F3A, U+7F51, U+7F6E, U+8001, U+8005, U+8054, U+80FD,
    U+81F3-81F4, U+822A, U+8272, U+8303, U+8425, U+85CF, U+884C, U+8868, U+88C5, U+8981, U+89C4,
    U+89C6, U+89C8, U+89D2, U+8BA1-8BA2, U+8BA4, U+8BB0, U+8BB8, U+8BBF, U+8BC6, U+8BD5, U+8BDD,
    U+8BE5-8BE6, U+8BEF, U+8BF4, U+8BF7, U+8C61, U+8D1F, U+8D23, U+8D25-8D27, U+8D39, U+8D44,
    U+8D77, U+8D85, U+8D8B, U+8DDF, U+8DF3, U+8F6C, U+8F7D, U+8F91, U+8F93, U+8FC7, U+8FD0-8FD1,
    U+8FD4, U+8FDB, U+9000, U+9009, U+901A, U+903E, U+9053, U+90E8, U+914D, U+91CD, U+91CF, U+91D1,
    U+94F6, U+94FE, U+9500, U+9519, U+957F, U+95ED-95EE, U+95F4, U+9636, U+9650, U+9664, U+9690,
    U+9700, U+9762, U+97F3, U+9875, U+9879, U+987B, U+9884, U+9891, U+989D, U+9A8C, U+FF01-FF9F,
    U+FFA1-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC, U+FFE0-FFE6, U+FFE8-FFEE;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-001-a58c4dfa4799.woff2') format('woff2');
  unicode-range:
    U+2074, U+20A9, U+20AB-20AC, U+20DD-20DE, U+2100, U+2103, U+2105, U+2109-210A, U+210F, U+2113,
    U+2116, U+2121-2122, U+2126-2127, U+212B, U+212E, U+2135, U+213B, U+2160-216B, U+2170-217B,
    U+2190-2199, U+21B8-21B9, U+21C4-21C6, U+21CB-21CC, U+21D0, U+21D2, U+21D4, U+21E6-21E9, U+21F5,
    U+2200, U+2202-2203, U+2205-220B, U+220F, U+2211-2213, U+2215, U+221A, U+221D-2220, U+2223,
    U+2225-222E, U+2234-2237, U+223D, U+2243, U+2245, U+2248, U+224C, U+2260-2262, U+2264-2267,
    U+226A-226B, U+226E-226F, U+2272-2273, U+2276-2277, U+2282-2287, U+228A-228B, U+2295-2299,
    U+22A0, U+22A5, U+22BF, U+22DA-22DB, U+22EF, U+2305-2307, U+2312, U+2318, U+2329-232A,
    U+23B0-23B1, U+23BE-23CC, U+23CE, U+23DA-23DB, U+2423, U+2460-249F;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-002-0e625d40a13a.woff2') format('woff2');
  unicode-range: U+24A0-259F;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-003-b24e614201f6.woff2') format('woff2');
  unicode-range:
    U+25A0-25AB, U+25B1-25B3, U+25B6-25B7, U+25BC-25BD, U+25C0-25C1, U+25C6-25C7, U+25C9-25CC,
    U+25CE-25D3, U+25E2-25E6, U+25EF, U+2600-2603, U+2605-2606, U+2609, U+260E-260F, U+2616-2617,
    U+261C-261F, U+262F, U+2640-2642, U+2660-266F, U+2672-267D, U+26A0, U+26BD-26BE, U+2702, U+2713,
    U+271A, U+273D, U+273F-2740, U+2756, U+2776-2793, U+27A1, U+2934-2935, U+29BF, U+29FA-29FB,
    U+2B05-2B07, U+2B1A, U+2B95, U+2E3A-2E3B, U+2E80-2E99, U+2E9B-2EF3, U+2F00-2F01;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-004-80e9975f7485.woff2') format('woff2');
  unicode-range: U+2F02-2FD5, U+2FF0-2FFB, U+3041-3060;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-005-93c6c1896256.woff2') format('woff2');
  unicode-range: U+3061-3096, U+3099-30FF, U+3105-312F, U+3131-3163, U+3165-3169;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-006-d6ee2393ca3a.woff2') format('woff2');
  unicode-range: U+316A-318E, U+3190-31BB, U+31C0-31E3, U+31F0-321E, U+3220-327B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-007-694e129c6fae.woff2') format('woff2');
  unicode-range: U+327C-332B, U+332D-337C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-008-fb3bd74f3070.woff2') format('woff2');
  unicode-range: U+337D-347C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-009-acde1868c706.woff2') format('woff2');
  unicode-range: U+347D-357C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-010-8a84d798e38e.woff2') format('woff2');
  unicode-range: U+357D-367C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-011-f0fec9326edb.woff2') format('woff2');
  unicode-range: U+367D-377C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-012-83d22a2d634e.woff2') format('woff2');
  unicode-range: U+377D-387C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-013-73884ed20549.woff2') format('woff2');
  unicode-range: U+387D-397C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-014-d02e71efcb9f.woff2') format('woff2');
  unicode-range: U+397D-3A7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-015-ebfbe303fa39.woff2') format('woff2');
  unicode-range: U+3A7D-3B7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-016-1173660e3186.woff2') format('woff2');
  unicode-range: U+3B7D-3C7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-017-e172caf697a1.woff2') format('woff2');
  unicode-range: U+3C7D-3D7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-018-c0123ee7e57b.woff2') format('woff2');
  unicode-range: U+3D7D-3E7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-019-bc03ecb3f4dd.woff2') format('woff2');
  unicode-range: U+3E7D-3F7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-020-32a958c6d98d.woff2') format('woff2');
  unicode-range: U+3F7D-407C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-021-0399e650b21f.woff2') format('woff2');
  unicode-range: U+407D-417C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-022-9dac595b17f5.woff2') format('woff2');
  unicode-range: U+417D-427C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-023-65b1d8264e61.woff2') format('woff2');
  unicode-range: U+427D-437C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-024-308800327814.woff2') format('woff2');
  unicode-range: U+437D-447C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-025-fccb4116540d.woff2') format('woff2');
  unicode-range: U+447D-457C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-026-c26f1a17fb78.woff2') format('woff2');
  unicode-range: U+457D-467C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-027-4fe96be067f0.woff2') format('woff2');
  unicode-range: U+467D-477C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-028-92e807a01bcb.woff2') format('woff2');
  unicode-range: U+477D-487C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-029-4c1dc7a43a05.woff2') format('woff2');
  unicode-range: U+487D-497C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-030-1ca2235a81f6.woff2') format('woff2');
  unicode-range: U+497D-4A7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-031-046ec18d92ff.woff2') format('woff2');
  unicode-range: U+4A7D-4B7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-032-e91722b82d85.woff2') format('woff2');
  unicode-range: U+4B7D-4C7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-033-772fcb2b3458.woff2') format('woff2');
  unicode-range: U+4C7D-4D7C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-034-dc21bbc741f0.woff2') format('woff2');
  unicode-range:
    U+4D7D-4DB5, U+4E01-4E02, U+4E04-4E08, U+4E0C, U+4E0F-4E19, U+4E1B-4E23, U+4E25-4E29,
    U+4E2B-4E2C, U+4E2E-4E33, U+4E35-4E39, U+4E3C-4E5C, U+4E5E-4E8B, U+4E8D, U+4E8F-4E93,
    U+4E95-4EA3, U+4EA5-4EA6, U+4EA8-4EB9, U+4EBB-4EC9, U+4ECB-4ED5, U+4ED7, U+4ED9-4EDE;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-035-3f7e3ab3f743.woff2') format('woff2');
  unicode-range:
    U+4EDF-4EE3, U+4EE5-4EF5, U+4EF8-4EFA, U+4EFC-4F00, U+4F02-4F1F, U+4F21-4F4C, U+4F4E-4F5B,
    U+4F5D-4FDC, U+4FDE-4FE0, U+4FE2-4FE8;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-036-da8f68892411.woff2') format('woff2');
  unicode-range: U+4FE9-4FED, U+4FEF-503B, U+503D-505B, U+505D-50EB;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-037-6017108cf0bc.woff2') format('woff2');
  unicode-range:
    U+50EC-5140, U+5142, U+5144-5147, U+5149-5164, U+5166-5167, U+5169-516A, U+516E-5170, U+5172,
    U+5174-5175, U+5177, U+5179-5184, U+5186-518C, U+518E-5198, U+519A-51F9, U+51FB;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-038-41528cad9983.woff2') format('woff2');
  unicode-range:
    U+51FC-5205, U+5208-5211, U+5213-5216, U+5218-521A, U+521C-522F, U+5231-5235, U+5238-524C,
    U+524E-529D, U+52A2-52A7, U+52A9-52BE, U+52C0-5304, U+5306-530B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-039-025271472fea.woff2') format('woff2');
  unicode-range:
    U+530C-5338, U+533A-5340, U+5342-5354, U+5356-538A, U+538C-539E, U+53A0-53D0, U+53D2-53D5,
    U+53D7, U+53D9-53E9, U+53EB-53EE, U+53F1-53F6, U+53F9-540B, U+540F-5410, U+5412-541C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-040-ec3c93ea80a9.woff2') format('woff2');
  unicode-range:
    U+541D-5425, U+5427-542A, U+542C-542E, U+5430-5457, U+5459-547B, U+547E-548B, U+548D-54C0,
    U+54C2-5524;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-041-6a4c976480b2.woff2') format('woff2');
  unicode-range: U+5525-552D, U+552F-5545, U+5547-5626;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-042-a9fe921183f8.woff2') format('woff2');
  unicode-range:
    U+5627-56DA, U+56DC-56DD, U+56DF, U+56E1-56F3, U+56F5-56FD, U+56FF-5727, U+5729-572C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-043-1da9221d711b.woff2') format('woff2');
  unicode-range: U+572D-572F, U+5731-573F, U+5741-574E, U+5750-578A, U+578C-5830;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-044-31751e16a490.woff2') format('woff2');
  unicode-range:
    U+5831-586A, U+586C-589D, U+589F-5903, U+5905-5906, U+5908-590C, U+590E-5915, U+5917-5919,
    U+591B-5926, U+5928-5930, U+5932-5939;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-045-663c1ded48d7.woff2') format('woff2');
  unicode-range: U+593A-59CA, U+59CC-59D2, U+59D4-5A3B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-046-89707a2c6758.woff2') format('woff2');
  unicode-range: U+5A3C-5B3B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-047-23bbfbe41b9c.woff2') format('woff2');
  unicode-range:
    U+5B3C-5B56, U+5B59-5B8B, U+5B8D-5B97, U+5B99, U+5B9B-5B9C, U+5B9E-5BA1, U+5BA3-5BB5,
    U+5BB7-5BB8, U+5BBA-5BC5, U+5BC7-5BF8, U+5BFA-5BFB, U+5BFD-5C05, U+5C07-5C0E, U+5C10,
    U+5C12-5C19, U+5C1B-5C1C, U+5C1E-5C4C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-048-a6d99ff41682.woff2') format('woff2');
  unicode-range: U+5C4D-5C5D, U+5C5F-5D4D;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-049-6ed52a9e3c8d.woff2') format('woff2');
  unicode-range: U+5D4E-5DE4, U+5DE6-5DF1, U+5DF3-5E37, U+5E39-5E50;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-050-71be84dde6c8.woff2') format('woff2');
  unicode-range:
    U+5E51-5E72, U+5E75, U+5E77-5E92, U+5E94-5EA5, U+5EA7-5EF9, U+5EFB-5EFF, U+5F01-5F02,
    U+5F04-5F0E, U+5F10-5F51, U+5F54, U+5F56-5F5C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-051-e61c0bcdc6ff.woff2') format('woff2');
  unicode-range: U+5F5D-5F84, U+5F86-5FAD, U+5FAF-5FC4, U+5FC6-6000, U+6002-603A, U+603C-6061;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-052-623cb3033642.woff2') format('woff2');
  unicode-range: U+6063-606E, U+6070-60C4, U+60C6-610E, U+6110-6165;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-053-e71614565cbc.woff2') format('woff2');
  unicode-range: U+6166-620F, U+6212-6215, U+6217-6236, U+6238-623F, U+6241-624A, U+624C-626B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-054-1b744c120b3c.woff2') format('woff2');
  unicode-range:
    U+626C-6278, U+627A-6295, U+6297-62A3, U+62A6-62D5, U+62D7-62E8, U+62EA-6300, U+6302-6306,
    U+6308-635E, U+6360-6361, U+6363-636D, U+636F-6376;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-055-85d8ab476804.woff2') format('woff2');
  unicode-range: U+6377-63A4, U+63A6-63CF, U+63D1-641B, U+641D-6479;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-056-41ecbe34aecf.woff2') format('woff2');
  unicode-range:
    U+647A-64A3, U+64A5-64CC, U+64CE-652E, U+6530-6535, U+6537-6538, U+653A-653D, U+653F-6547,
    U+6549-656F, U+6571-6573, U+6575-6582;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-057-41fd632431e6.woff2') format('woff2');
  unicode-range:
    U+6583-6586, U+6588-6598, U+659A-65AC, U+65AE-65AF, U+65B1-65B8, U+65BA-65DF, U+65E1-65E4,
    U+65E6-65F5, U+65F7-660D, U+660F-661E, U+6620-662E, U+6630-663D, U+663F-6659, U+665B-6681,
    U+6683-6690;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-058-d706889e004e.woff2') format('woff2');
  unicode-range:
    U+6691-66F3, U+66F5-66FE, U+6701-6707, U+670A-670C, U+670E-671E, U+6720-6729, U+672B,
    U+672D-6742, U+6744-675E, U+6760, U+6762-6764, U+6766-677E, U+6780-679B, U+679D-679F;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-059-696a5bfe1f4a.woff2') format('woff2');
  unicode-range:
    U+67A0-67E4, U+67E6-6806, U+6808-6820, U+6822-6837, U+6839-683B, U+683D-6862, U+6864-68A5;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-060-5fa960d4ccd1.woff2') format('woff2');
  unicode-range: U+68A6-68BF, U+68C1-6981, U+6983-69A7;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-061-740bf2074aa4.woff2') format('woff2');
  unicode-range: U+69A8-6A20, U+6A22-6AA8;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-062-6cabe311ced7.woff2') format('woff2');
  unicode-range: U+6AA9-6B20, U+6B22-6B3D, U+6B3F-6B62, U+6B65-6BAC;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-063-c457d57484b3.woff2') format('woff2');
  unicode-range:
    U+6BAD-6BB4, U+6BB6-6BCC, U+6BCE, U+6BD0-6C41, U+6C43-6C46, U+6C48-6CA0, U+6CA2-6CB2;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-064-8cc440ec018f.woff2') format('woff2');
  unicode-range: U+6CB3-6CD4, U+6CD6-6CE7, U+6CE9-6D40, U+6D42-6D87, U+6D89-6DB6;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-065-066e127cc38c.woff2') format('woff2');
  unicode-range: U+6DB7-6DD7, U+6DD9-6DFA, U+6DFC-6E04, U+6E06-6E1F, U+6E21-6E8F, U+6E91-6EBB;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-066-8db21672404a.woff2') format('woff2');
  unicode-range: U+6EBC-6F13, U+6F15-6FBC;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-067-e6517172d682.woff2') format('woff2');
  unicode-range: U+6FBD-70BC;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-068-c62de3c3cdc1.woff2') format('woff2');
  unicode-range: U+70BD-71BC;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-069-e07e083602ac.woff2') format('woff2');
  unicode-range: U+71BD-7246, U+7249-7268, U+726A-72B5, U+72B7-72C0;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-070-3d26cdd098aa.woff2') format('woff2');
  unicode-range: U+72C1-73AF, U+73B1-73C1;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-071-594c6b3dd3fb.woff2') format('woff2');
  unicode-range: U+73C2-7405, U+7407-74C2;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-072-9847cc7ed4d3.woff2') format('woff2');
  unicode-range: U+74C3-751E, U+7520-7527, U+7529-7530, U+7532-7534, U+7536-7558, U+755A-75C7;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-073-6847628a3f1d.woff2') format('woff2');
  unicode-range: U+75C8-767A, U+767C-7683, U+7685-76C9;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-074-e75d9214464a.woff2') format('woff2');
  unicode-range: U+76CA-76F7, U+76F9-770A, U+770C-77CB;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-075-21e7b12a4ede.woff2') format('woff2');
  unicode-range: U+77CC-7800, U+7802-786D, U+786F-78CD;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-076-4d792ae7d985.woff2') format('woff2');
  unicode-range: U+78CE-7939, U+793B-7967, U+7969-79BA, U+79BC-79D0;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-077-e8d139cf27bf.woff2') format('woff2');
  unicode-range: U+79D1-79EF, U+79F1-79FA, U+79FC-7A0C, U+7A0F-7A3E, U+7A40-7A79, U+7A7B-7AD6;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-078-9754184da5ee.woff2') format('woff2');
  unicode-range: U+7AD7-7B13, U+7B15-7B48, U+7B4A-7B5A, U+7B5C-7B7D, U+7B7F-7BA0, U+7BA2-7BDB;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-079-c170db8668c1.woff2') format('woff2');
  unicode-range: U+7BDC-7C7A, U+7C7C-7CDC;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-080-662ff321c474.woff2') format('woff2');
  unicode-range: U+7CDD-7CFA, U+7CFC-7D21, U+7D23-7DDE;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-081-d59ea1e3d6a3.woff2') format('woff2');
  unicode-range: U+7DDF-7EC3, U+7EC5, U+7EC7-7ECE, U+7ED0-7ED2, U+7ED4-7EE2;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-082-f7dc90d0adfa.woff2') format('woff2');
  unicode-range:
    U+7EE3-7EE6, U+7EE8-7EEC, U+7EEE-7EF3, U+7EF5-7F15, U+7F17-7F28, U+7F2A-7F39, U+7F3B-7F50,
    U+7F52-7F6D, U+7F6F-7FEA;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-083-bf66478f70c3.woff2') format('woff2');
  unicode-range: U+7FEB-8000, U+8002-8004, U+8006-8053, U+8055-80ED;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-084-38efa607d555.woff2') format('woff2');
  unicode-range: U+80EE-80FC, U+80FE-81EE;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-085-17c259ca1a26.woff2') format('woff2');
  unicode-range: U+81EF-81F2, U+81F5-8229, U+822B-8271, U+8273-82F2;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-086-b68f76a50c13.woff2') format('woff2');
  unicode-range: U+82F3-8302, U+8304-83F3;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-087-b6e7221bd327.woff2') format('woff2');
  unicode-range: U+83F4-8424, U+8426-84F4;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-088-49ce640ecbc0.woff2') format('woff2');
  unicode-range: U+84F5-85CE, U+85D0-85F5;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-089-8d7aa19a1f21.woff2') format('woff2');
  unicode-range: U+85F6-86F5;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-090-4efc84820327.woff2') format('woff2');
  unicode-range: U+86F6-87F5;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-091-74f79fd6a014.woff2') format('woff2');
  unicode-range: U+87F6-884B, U+884D-8867, U+8869-88C4, U+88C6-88F8;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-092-64028092b7d0.woff2') format('woff2');
  unicode-range: U+88F9-8980, U+8982-89C3, U+89C5, U+89C7, U+89C9-89D1, U+89D3-89FD;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-093-963a86aea2b7.woff2') format('woff2');
  unicode-range: U+89FE-8AFD;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-094-b7c904cb4808.woff2') format('woff2');
  unicode-range:
    U+8AFE-8BA0, U+8BA3, U+8BA5-8BAF, U+8BB1-8BB7, U+8BB9-8BBE, U+8BC0-8BC5, U+8BC7-8BD4,
    U+8BD6-8BDC, U+8BDE-8BE4, U+8BE7-8BEE, U+8BF0-8BF3, U+8BF5-8BF6, U+8BF8-8C0B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-095-0ec1e09ccf74.woff2') format('woff2');
  unicode-range: U+8C0C-8C60, U+8C62-8D0C;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-096-b116888ec3c5.woff2') format('woff2');
  unicode-range:
    U+8D0D-8D1E, U+8D20-8D22, U+8D24, U+8D28-8D38, U+8D3A-8D43, U+8D45-8D76, U+8D78-8D84,
    U+8D86-8D8A, U+8D8C-8DDE, U+8DE0-8DF2, U+8DF4-8E18;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-097-5b49e0c43674.woff2') format('woff2');
  unicode-range: U+8E19-8F18;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-098-d522eaddc8f8.woff2') format('woff2');
  unicode-range:
    U+8F19-8F6B, U+8F6D-8F7C, U+8F7E-8F90, U+8F92, U+8F94-8FC6, U+8FC8-8FCF, U+8FD2-8FD3,
    U+8FD5-8FDA, U+8FDC-8FFF, U+9001-9008, U+900A-9019, U+901B-9024;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-099-8b22f77b202c.woff2') format('woff2');
  unicode-range: U+9025-903D, U+903F-9052, U+9054-90E7, U+90E9-9127;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-100-371273b9d4e2.woff2') format('woff2');
  unicode-range: U+9128-914C, U+914E-91CC, U+91CE, U+91D0, U+91D2-922B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-101-0740c805cb09.woff2') format('woff2');
  unicode-range: U+922C-932B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-102-431c122979ff.woff2') format('woff2');
  unicode-range: U+932C-942B;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-103-acd585005889.woff2') format('woff2');
  unicode-range: U+942C-94F5, U+94F7-94FD, U+94FF, U+9501-9518, U+951A-952F;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-104-6b7df796f5e2.woff2') format('woff2');
  unicode-range: U+9530-957E, U+9580-95EC, U+95EF-95F3, U+95F5-9633;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-105-b137a7797593.woff2') format('woff2');
  unicode-range: U+9634-9635, U+9637-964F, U+9651-9663, U+9665-968F, U+9691-96FF, U+9701-9738;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-106-6430ad362391.woff2') format('woff2');
  unicode-range: U+9739-9761, U+9763-97F2, U+97F4-983A;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-107-f28139830579.woff2') format('woff2');
  unicode-range:
    U+983B-9874, U+9876-9878, U+987A, U+987C-9883, U+9885-9890, U+9892-989C, U+989E-9940;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-108-31ebb2efd998.woff2') format('woff2');
  unicode-range: U+9941-9A40;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-109-513953ffdf44.woff2') format('woff2');
  unicode-range: U+9A41-9A8B, U+9A8D-9B41;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-110-554373ed15ac.woff2') format('woff2');
  unicode-range: U+9B42-9C41;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-111-17d74f03a3c8.woff2') format('woff2');
  unicode-range: U+9C42-9D41;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-112-6a0e687dbc84.woff2') format('woff2');
  unicode-range: U+9D42-9E41;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-113-732a42693070.woff2') format('woff2');
  unicode-range: U+9E42-9F41;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-114-78ad37def9d3.woff2') format('woff2');
  unicode-range:
    U+9F42-9FEF, U+F900-F903, U+F905-F906, U+F90B-F90C, U+F915, U+F917-F91A, U+F921, U+F92C-F92D,
    U+F92F, U+F931-F935, U+F937-F93A, U+F943, U+F947-F94A, U+F94E, U+F952-F953, U+F95E, U+F962-F967,
    U+F96E, U+F972, U+F974, U+F976, U+F979-F97B, U+F97E-F980, U+F984-F985, U+F98A-F98C, U+F98E,
    U+F993, U+F995, U+F998, U+F9AE, U+F9B3, U+F9B7, U+F9BB, U+F9BD-F9BE, U+F9C0, U+F9C5-F9C6,
    U+F9D0, U+F9D8-F9D9, U+F9DC-F9E0, U+F9E2-F9E4, U+F9E7, U+F9E9;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-115-a6481127c83d.woff2') format('woff2');
  unicode-range:
    U+F9F1, U+F9F4-F9F5, U+F9FA, U+F9FD, U+F9FF, U+FA02, U+FA05-FA08, U+FA0A, U+FA0C-FA0F, U+FA11,
    U+FA13-FA14, U+FA18, U+FA1F-FA21, U+FA23-FA24, U+FA27-FA29, U+FA2F, U+FA33-FA35, U+FA37-FA38,
    U+FA3A, U+FA47, U+FA49, U+FA4B, U+FA5D-FA5E, U+FB00-FB04, U+FE10-FE19, U+FE30-FE52, U+FE54-FE66,
    U+FE68-FE6B, U+1F100-1F10C, U+1F110-1F16C, U+1F170-1F194;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-116-350b59084b33.woff2') format('woff2');
  unicode-range:
    U+1F195-1F1AC, U+1F200-1F202, U+1F210-1F23B, U+1F240-1F248, U+1F250-1F251, U+20087, U+20089,
    U+200CC, U+20164, U+20628, U+20676, U+20CD0, U+2139A, U+21413, U+215D7, U+2298F, U+235CB,
    U+23C97-23C98, U+23E23, U+241FE, U+2420E, U+248E9, U+249DB, U+24A01, U+24A7D, U+24AC9, U+25532,
    U+25562, U+255A8, U+25AD7, U+25ED7, U+26221, U+2648D, U+26676, U+2677C, U+26951, U+26B5C,
    U+26C21, U+278B2, U+27EAF, U+27FB7, U+27FF9, U+28408, U+28678, U+28695, U+287E0, U+28B49,
    U+28C47, U+28C4F, U+28C51, U+28C54, U+28E0F, U+28E99, U+2967F, U+29810, U+29F7E, U+29F83,
    U+29F8C, U+2A7DD, U+2A8FB, U+2A917, U+2AA30, U+2AA36, U+2AA58, U+2AFA2, U+2B127-2B128,
    U+2B137-2B138, U+2B1ED, U+2B300, U+2B363, U+2B36F, U+2B372, U+2B37D, U+2B404, U+2B410, U+2B413,
    U+2B461, U+2B4E7, U+2B4EF, U+2B4F6, U+2B4F9, U+2B50D-2B50E, U+2B536, U+2B5AE-2B5AF, U+2B5B3,
    U+2B5E7, U+2B5F4, U+2B61C-2B61D, U+2B626-2B628, U+2B62A, U+2B62C, U+2B695-2B696, U+2B6AD,
    U+2B6ED, U+2B7A9, U+2B7C5, U+2B7E6, U+2B7F9, U+2B7FC, U+2B806, U+2B80A, U+2B81C, U+2B8B8,
    U+2BAC7, U+2BB5F, U+2BB62, U+2BB7C, U+2BB83, U+2BC1B, U+2BD77, U+2BD87, U+2BDF7, U+2BE29,
    U+2C029-2C02A, U+2C0A9, U+2C0CA, U+2C1D5, U+2C1D9, U+2C1F9, U+2C27C, U+2C288, U+2C2A4, U+2C317,
    U+2C35B, U+2C361, U+2C364, U+2C488, U+2C494, U+2C497, U+2C542, U+2C613, U+2C618, U+2C621,
    U+2C629, U+2C62B-2C62D, U+2C62F, U+2C642, U+2C64A-2C64B, U+2C72C, U+2C72F, U+2C79F, U+2C7C1,
    U+2C7FD, U+2C8D9, U+2C8DE, U+2C8E1, U+2C8F3, U+2C907, U+2C90A, U+2C91D, U+2CA02, U+2CA0E,
    U+2CA7D, U+2CAA9, U+2CB29, U+2CB2D-2CB2E, U+2CB31, U+2CB38-2CB39, U+2CB3B, U+2CB3F, U+2CB41,
    U+2CB4A, U+2CB4E, U+2CB5A;
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-sc/noto-sans-sc-117-8b05e61f6896.woff2') format('woff2');
  unicode-range:
    U+2CB5B, U+2CB64, U+2CB69, U+2CB6C, U+2CB6F, U+2CB73, U+2CB76, U+2CB78, U+2CB7C, U+2CBB1,
    U+2CBBF-2CBC0, U+2CBCE, U+2CC56, U+2CC5F, U+2CCF5-2CCF6, U+2CCFD, U+2CCFF, U+2CD02-2CD03,
    U+2CD0A, U+2CD8B, U+2CD8D, U+2CD8F-2CD90, U+2CD9F-2CDA0, U+2CDA8, U+2CDAD-2CDAE, U+2CDD5,
    U+2CE18, U+2CE1A, U+2CE23, U+2CE26, U+2CE2A, U+2CE7C, U+2CE88, U+2CE93, U+2D544, U+2F884,
    U+2F8B6, U+30EDD-30EDE, U+3106C;
}
